---
###########
# note: will result in an all-in-one-file stylesheet e.g. style.css
###########
---


@import 'settings';

html {
  font-family: $font-family;
  font-size:   18px;
  line-height: 1.6;
  text-align: justify;
  height: 100%;
}

body {
  color:            $body-color;
  background-color: $body-background-color;
  margin: 0;
  height: 100%;
}

//////////////
// Links

a {
  color:           $link-color;
  text-decoration: none;

  strong {
    color: inherit;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


////////////////////////////
// Headings

h1, h2, h3, h4, h5, h6 {
  margin-bottom:  1rem;
  font-weight:    bold;
  line-height:    1.25;
  color:          $headings-color;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/////////////
// Body text

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: $strong-color;
}


/////////////
// Lists

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}


//////////////////////
// Code

code,
pre {
  font-family: $code-font-family;
}
code {
  padding: .25em .5em;
  font-size: 85%;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  background-color: $pre-background-color;

  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
}


/////////////////////
// Quotes

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $blockquote-color;
  border-left: .25rem solid $blockquote-border-color;

  p:last-child {
    margin-bottom: 0;
  }
}


img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right:auto;
}


//////////////////////
// Tables

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;

  td,
  th {
   padding: .25rem .5rem;
   border: 1px solid $table-border-color;
  }

  tr:nth-child(odd) td,
  tr:nth-child(odd) th {
    background-color: $table-odd-background-color;
  }
}



////////////////////////////////
//  Container
//   -- centers page content

.container {
  max-width: 850px;
  margin-left:  auto;
  margin-right: auto;
}

#content {
padding-left:11px;
padding-right:11px;
}

///////////////////////////////////////////////////
//  Masthead

.masthead {
  margin-bottom: 2rem;
  background-color: #101010;

 .masthead-title {
   margin: auto;
   min-height: 52px;
   display: flex;
   max-width: 1380px;
   padding-left: 15px;
   padding-right: 15px;:
   color: $masthead-color;

   a {
     color: $masthead-color;
     margin-top:auto;
     margin-bottom:auto;
   }

   span {
     color: $masthead-small-color;
   }
 }
 .masthead-items {
   margin: auto;
   margin-right:0;
   font-weight: 400;
   
   a {
     padding-left: 3px;
     padding-right: 3px;
   }
 }
}

/////////////////////////////////////////////////////
// Footer

footer{
  width: 100%;
  height: 52px;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-align: center;
  align-content: center;
  display: grid;
  
  hr {
  color: gainsboro;
  }
}


//////////////////////////
// Posts

.post {
  margin-bottom: 4em;

  // note: only change margin for title,date if inside post block
  .post-title {
    margin-top: 0;
  }

  // Meta data line below post title
  .post-date {
    display: block;
    margin-top:  -.5rem;
    margin-bottom: 1rem;
  }
}

.post-title,
.post-title a {
  color: $post-title-color;
}

.post-date {
  color: $post-date-color;
}
